Repository denoland/deno, pull requests merged in 2020-05, with the labels that each got.

#5459 test: fix deferred test and higher coverage
  std/async/deferred_test.ts
Labels: std

#5476 Fix spelling mistake on permission
  std/fs/ensure_dir.ts
Labels: std

#5521 Fix definition of URL constructor
  cli/js/lib.deno.shared_globals.d.ts
  std/path/posix.ts
  std/path/win32.ts
Labels: web

#5549 chore: capture stderr in integration tests
  cli/tests/057_revoke_permissions.out
  cli/tests/deno_test.out
  cli/tests/deno_test_fail_fast.out
  cli/tests/import_map_no_unstable.out
  cli/tests/integration_tests.rs
Labels: build

#5509 Update to dprint 0.18.0 and latest swc
  Cargo.lock
  cli/Cargo.toml
  cli/doc/class.rs
  cli/doc/function.rs
  cli/doc/tests.rs
  cli/doc/ts_type.rs
Labels: cli

#5347 Implement Deno.kill for windows
  cli/js/lib.deno.unstable.d.ts
  cli/js/ops/process.ts
  cli/js/tests/process_test.ts
  cli/signal.rs
  std/http/server_test.ts
Labels: cli, windows

#5086 fix SHA1 hash of Uint8Array returned from read operation
  std/hash/sha1.ts
  std/hash/sha1_test.ts
  std/hash/sha256.ts
  std/hash/sha256_test.ts
  std/hash/testdata/hashtest
Labels: std

#5029 refactor: rewrite TS dependency analysis in Rust
  cli/file_fetcher.rs
  cli/global_state.rs
  cli/js/compiler.ts
  cli/main.rs
  cli/module_graph.rs
  cli/msg.rs
  cli/ops/compiler.rs
  cli/state.rs
  cli/swc_util.rs
  cli/tests/020_json_modules.ts.out
  cli/tests/037_fetch_multiple.out
  cli/tests/error_004_missing_module.ts.out
  cli/tests/error_005_missing_dynamic_import.ts.out
  cli/tests/error_006_import_ext_failure.ts.out
  cli/tests/error_011_bad_module_specifier.ts.out
  cli/tests/error_012_bad_dynamic_import_specifier.ts.out
  cli/tests/error_local_static_import_from_remote.ts.out
  cli/tests/error_type_definitions.ts.out
  cli/tests/integration_tests.rs
  cli/tests/type_definitions/bar.js
  cli/tsc.rs
Labels: cli, perf

#5488 (fix) Deno.remove for dir symlinks
  cli/js/tests/remove_test.ts
  cli/ops/fs.rs
Labels: cli

#5557 fix(cli/js/web/url): Fix URL encoding
  cli/js/tests/url_test.ts
  cli/js/web/url.ts
  cli/js/web/url_search_params.ts
Labels: cli, web

#5533 implement Deno.symlink for windows
  cli/js/lib.deno.unstable.d.ts
  cli/js/ops/fs/symlink.ts
  cli/js/tests/remove_test.ts
  cli/js/tests/symlink_test.ts
  cli/ops/fs.rs
  std/fs/copy.ts
  std/fs/copy_test.ts
  std/fs/ensure_symlink.ts
  std/fs/ensure_symlink_test.ts
Labels: cli

#5593 Mark Deno.pid and Deno.noColor as const
  cli/js/lib.deno.ns.d.ts
Labels: cli, public API

#5451 fix(#5449): REPL does not exit properly when close() is called
  cli/js/repl.ts
  cli/tests/integration_tests.rs
Labels: bug, cli

#5404 Brought back Node.js colorful console logs (and tables)
  cli/js/colors.ts
  cli/js/globals.ts
  cli/js/tests/console_test.ts
  cli/js/web/console.ts
  cli/js/web/console_table.ts
  cli/tests/integration_tests.rs
  cli/tests/seed_random.js.out
  std/fmt/colors.ts
  std/fmt/sprintf_test.ts
  std/testing/asserts_test.ts
Labels: cli, feat

#5428 fix(multipart): fix error when parsing file name in utf8 format
  std/mime/multipart.ts
  std/mime/multipart_test.ts
  std/mime/testdata/sample.txt
  std/textproto/mod.ts
Labels: std

#5603 refactor: reorganize TS compiler
  cli/file_fetcher.rs
  cli/js/compiler.ts
  cli/main.rs
  cli/module_graph.rs
  cli/tsc.rs
Labels: cli

#5341 fix(std/log): await default logger setup
  std/log/mod.ts
  std/log/mod_test.ts
Labels: std

#5415 std/node: add util.callbackify
  std/node/_util/_util_callbackify.ts
  std/node/_util/_util_callbackify_test.ts
  std/node/util.ts
Labels: std

#5198 feat(std/fmt): rgb24 and bgRgb24 can use numbers for color
  std/fmt/colors.ts
  std/fmt/colors_test.ts
Labels: std

#4801 add hasSuffix & contains & jsDocs and some refactor [std/bytes]
  std/bytes/mod.ts
  std/bytes/test.ts
Labels: std

#4543 fix(#4521): BufReader should not share the internal buffer across reads
  std/io/bufio.ts
  std/io/bufio_test.ts
  std/textproto/test.ts
Labels: std

#5663 Export TextDecoder and TextEncoder from std/node/util.ts
  std/node/_utils.ts
  std/node/util.ts
  std/node/util_test.ts
Labels: std

#4700 initial std/node/url module and tests
  std/node/_utils.ts
  std/node/querystring.ts
  std/node/url.ts
Labels: std

#5661 docs(testing): fix test glob pattern
  cli/flags.rs
  docs/testing.md
Labels: docs

#4567 Move std/fmt/sprintf.ts to std/fmt/printf.ts
  std/fmt/README.md
  std/fmt/mod.ts
  std/fmt/printf.ts
  std/fmt/printf_test.ts
Labels: std

#5426 Docs are not clear regarding --allow-net
  docs/getting_started/permissions.md
Labels: docs

#5680 fix: disallow http imports for modules loaded over https
  cli/module_graph.rs
  cli/state.rs
  cli/tests/disallow_http_from_https.js
  cli/tests/disallow_http_from_https.ts
  cli/tests/disallow_http_from_https_js.out
  cli/tests/disallow_http_from_https_ts.out
  cli/tests/error_local_static_import_from_remote.js.out
  cli/tests/error_local_static_import_from_remote.ts.out
  cli/tests/integration_tests.rs
Labels: cli

#5422 Errors in benchmarks should fail CI
  cli/tests/workers_round_robin_bench.ts
  tools/benchmark.py
Labels: build

#5703 docs: add entry for 'deno info'
  docs/tools/dependency_inspector.md
Labels: docs

#5695 fix(std/http): file_server's target directory
  std/http/file_server.ts
  std/http/file_server_test.ts
Labels: std

#5697 fix: --inspect flag working like --inspect-brk
  cli/state.rs
  cli/tests/inspector4.js
  cli/tests/integration_tests.rs
Labels: bug, cli

#5726 fix: redirects handling in module analysis
  cli/js/compiler.ts
  cli/module_graph.rs
  cli/tests/integration_tests.rs
  cli/tests/type_directives_redirect.ts
  cli/tests/type_directives_redirect.ts.out
  tools/http_server.py
Labels: bug, cli

#5743 doc: clarify and warn on Deno.read/write behaviour
  cli/js/lib.deno.ns.d.ts
Labels: docs

#5733 fix: ts type imports
  cli/swc_util.rs
  cli/tests/error_005_missing_dynamic_import.ts.out
  cli/tests/error_012_bad_dynamic_import_specifier.ts.out
  cli/tests/integration_tests.rs
  cli/tests/ts_type_imports.ts
  cli/tests/ts_type_imports.ts.out
  cli/tests/ts_type_imports_foo.ts
  cli/tsc.rs
Labels: bug, cli

#5752 fix: SWC lexer settings and silent errors
  .prettierignore
  cli/module_graph.rs
  cli/swc_util.rs
  cli/tests/integration_tests.rs
  cli/tests/swc_syntax_error.ts
  cli/tests/swc_syntax_error.ts.out
  cli/tests/ts_decorators.ts
  cli/tests/ts_decorators.ts.out
  cli/tests/tsconfig.decorators.json
  cli/tsc.rs
  tools/lint.py
Labels: bug, cli

#5746 re-enable symlink tests on windows
  std/node/_fs/_fs_readlink_test.ts
Labels: std

#5730 atob throw DOMException
  cli/js/web/text_encoding.ts
Labels: cli, web

#5686 stream: simplify isFiniteNonNegativeNumber
  cli/js/web/streams/internals.ts
Labels: std

#5652 std/node: fs.writeFile/sync path can now be an URL
  std/node/_fs/_fs_writeFile.ts
  std/node/_fs/_fs_writeFile_test.ts
  std/node/_fs/promises/_fs_writeFile.ts
Labels: std

#5778 (refactor) remove duplicated code in std/node/module
  std/node/module.ts
  std/node/url.ts
Labels: std

#5599 Add diff for "deno fmt --check"
  Cargo.lock
  cli/Cargo.toml
  cli/colors.rs
  cli/diff.rs
  cli/fmt.rs
  cli/main.rs
Labels: cli, feat

#5750 Fix Deno.dir and Diagnostics being present at stable runtime
  cli/js/deno.ts
  cli/js/deno_unstable.ts
Labels: cli, public API

#5785 fix: TSX analysis in module graph loader
  cli/module_graph.rs
  cli/swc_util.rs
  cli/tests/Component.tsx
  cli/tests/integration_tests.rs
  cli/tests/tsx_imports.ts
  cli/tests/tsx_imports.ts.out
Labels: bug, cli

#5870 fix: parsing of JSX and TSX in SWC
  cli/doc/parser.rs
  cli/module_graph.rs
  cli/swc_util.rs
  cli/tests/ts_with_generic.ts
Labels: bug, cli

#5868 fix(std/log): use writeAllSync instead of writeSync
  std/log/handlers.ts
Labels: bug, std

#5771 doc: improve documentation for consuming request body
  std/http/server.ts
Labels: docs

#5757 fix(std): Fix FileHandler test with mode 'x' on non-English systems
  std/log/handlers_test.ts
Labels: std

#5930 (std/node) feat: add link/linkSync polyfill
  std/node/_fs/_fs_link.ts
  std/node/_fs/_fs_link_test.ts
Labels: std

#5926 chore(integration_tests): stop collecting unnecessary output in permissions tests
  cli/tests/integration_tests.rs
Labels: cli

#5879 fix(cli/blob) name for DenoBlob
  cli/js/web/blob.ts
  cli/tests/unit/blob_test.ts
Labels: cli, web

#5842 Return results in benchmark promise
  std/testing/README.md
  std/testing/bench.ts
  std/testing/bench_example.ts
  std/testing/bench_test.ts
Labels: feat, std

#5819 fix(std/log): modify the calculation method of byte length
  std/log/handlers.ts
  std/log/handlers_test.ts
Labels: std

#5794 fix(cli): run --lock-write for long-lived programs
  cli/main.rs
  cli/tests/file_exists.ts
  cli/tests/lock_write_fetch.ts
Labels: cli

#5565 REPL evaluates in strict mode
  cli/js/repl.ts
  cli/tests/integration_tests.rs
  deno_typescript/compiler_main.js
  deno_typescript/system_loader.js
Labels: cli, repl

#5503 Improved typechecking error for unstable props
  cli/js/diagnostics_util.ts
  cli/tests/unstable_disabled.out
Labels: cli, std

#5779 feat(cli): deserialize Permissions from JSON
  cli/permissions.rs
Labels: cli, feat

#5254 fix(cli/js/error_stack): Expose Error.captureStackTrace
  cli/js/error_stack.ts
  cli/js/lib.deno.shared_globals.d.ts
  cli/js/web/console.ts
  cli/tests/unit/error_stack_test.ts
Labels: cli, feat

#4902 fix: readTrailer didn't evaluate header names by case-insensitive
  std/http/_io.ts
  std/http/_io_test.ts
Labels: std

#5817 refactor: TS compiler and module graph
  cli/doc/node.rs
  cli/global_state.rs
  cli/main.rs
  cli/module_graph.rs
  cli/state.rs
  cli/swc_util.rs
  cli/tests/disallow_http_from_https_js.out
  cli/tests/disallow_http_from_https_ts.out
  cli/tests/error_005_missing_dynamic_import.ts.out
  cli/tests/error_012_bad_dynamic_import_specifier.ts.out
  cli/tests/error_local_static_import_from_remote.js.out
  cli/tests/error_local_static_import_from_remote.ts.out
  cli/tests/error_syntax.js.out
  cli/tests/error_syntax_empty_trailing_line.mjs.out
  cli/tests/integration_tests.rs
  cli/tsc.rs
  cli/worker.rs
Labels: cli

#5642 fix(cli/permissions): Fix CWD and exec path leaks
  cli/flags.rs
  cli/js/lib.deno.ns.d.ts
  cli/ops/fs.rs
  cli/ops/os.rs
  cli/ops/permissions.rs
  cli/ops/plugin.rs
  cli/permissions.rs
  cli/state.rs
  cli/tests/056_make_temp_file_write_perm.ts
  cli/tests/059_fs_relative_path_perm.ts
  cli/tests/059_fs_relative_path_perm.ts.out
  cli/tests/integration_tests.rs
  cli/tests/unit/dir_test.ts
  cli/tests/unit/os_test.ts
Labels: cli

#6005 fix: media type for .cjs and application/node
  cli/file_fetcher.rs
  cli/tests/cjs_imports.ts
  cli/tests/cjs_imports.ts.out
  cli/tests/commonjs.cjs
  cli/tests/integration_tests.rs
Labels: bug, cli
