Repository denoland/deno, pull requests merged in 2020-06, with the labels that each got.

#6015 fix(cli/web/fetch): formData parser for binary files
  cli/js/web/body.ts
  cli/js/web/fetch/multipart.ts
  cli/tests/unit/fetch_test.ts
  tools/http_server.py
Labels: cli, web

#5958 fix(cli/web): Body.bodyUsed should use IsReadableStreamDisturbed
  cli/js/web/body.ts
  cli/js/web/streams/internals.ts
  cli/tests/unit/fetch_test.ts
Labels: cli, web

#5992 fix Deno.iterSync() Deno.write() Deno.writeSync() jsDoc
  cli/js/lib.deno.ns.d.ts
Labels: cli, docs

#4788 Ops can take several zero copy buffers (#4786)
  cli/js/globals.ts
  cli/js/ops/dispatch_json.ts
  cli/js/ops/fetch.ts
  cli/ops/dispatch_json.rs
  cli/ops/dispatch_minimal.rs
  cli/ops/errors.rs
  cli/ops/fetch.rs
  cli/ops/fs.rs
  cli/ops/fs_events.rs
  cli/ops/io.rs
  cli/ops/net.rs
  cli/ops/net_unix.rs
  cli/ops/os.rs
  cli/ops/permissions.rs
  cli/ops/plugin.rs
  cli/ops/process.rs
  cli/ops/random.rs
  cli/ops/repl.rs
  cli/ops/resources.rs
  cli/ops/runtime.rs
  cli/ops/runtime_compiler.rs
  cli/ops/signal.rs
  cli/ops/timers.rs
  cli/ops/tls.rs
  cli/ops/tty.rs
  cli/ops/web_worker.rs
  cli/ops/worker_host.rs
  cli/state.rs
  core/bindings.rs
  core/core.js
  core/core_isolate.rs
  core/es_isolate.rs
  core/examples/http_bench.js
  core/examples/http_bench.rs
  core/ops.rs
  core/plugin_api.rs
  core/zero_copy_buf.rs
  deno_typescript/lib.rs
  test_plugin/src/lib.rs
  test_plugin/tests/integration_tests.rs
  test_plugin/tests/test.js
Labels: core, feat

#6000 fix: compile TS dependencies of JS files
  cli/global_state.rs
  cli/tests/integration_tests.rs
  cli/tests/ts_import_from_js.js
  cli/tests/ts_import_from_js.js.out
Labels: bug, cli

#6014 (std/log) feat: buffered file logging
  std/log/README.md
  std/log/handlers.ts
  std/log/handlers_test.ts
Labels: std

#5997 add human size function in cli/main.rs
  cli/main.rs
Labels: cli

#5952 fix #5940 std/http/file_server: does not close file resources it opens
  std/http/file_server.ts
Labels: std

#5941 feat(std/testing): benching progress callback
  std/testing/bench.ts
  std/testing/bench_test.ts
Labels: std

#5976 added base64url module
  std/encoding/base64url.ts
  std/encoding/base64url_test.ts
Labels: std

#6078 feat(doc): handle detail output for enum
  cli/doc/printer.rs
  cli/doc/tests.rs
Labels: cli

#6052 Allow non-void promises in assertThrowsAsync
  std/testing/asserts.ts
  std/testing/asserts_test.ts
Labels: std

#5650 Create initial doc generator documentation
  docs/tools/documentation_generator.md
Labels: docs

#5636 doc: Improved ws example and README
  std/ws/README.md
  std/ws/example_server.ts
  std/ws/example_test.ts
  std/ws/test.ts
Labels: docs, std

#5558 feat: add sha3 hash
  std/hash/_sha3/keccak.ts
  std/hash/_sha3/keccakf.ts
  std/hash/_sha3/sha3.ts
  std/hash/_sha3/shake.ts
  std/hash/_sha3/sponge.ts
  std/hash/sha3.ts
  std/hash/sha3_test.ts
Labels: std

#5693 Add "fork" method on DenoPermissions, PermissionState
  cli/permissions.rs
Labels: cli, feat

#5925 std/node: Buffer
  std/node/_fs/_fs_common.ts
  std/node/_fs/_fs_readFile.ts
  std/node/_fs/_fs_writeFile.ts
  std/node/buffer.ts
  std/node/module.ts
Labels: std

#6088 rename delCookie to deleteCookie
  std/http/cookie.ts
  std/http/cookie_test.ts
Labels: std

#6159 Extend std/util/node types
  std/node/_util/_util_types.ts
  std/node/_util/_util_types_test.ts
Labels: std

#6153 refactor(std/signal): Replace setTimeout with IIFE
  std/signal/mod.ts
Labels: std

#6125 feat: "deno lint" subcommand
  Cargo.lock
  cli/Cargo.toml
  cli/flags.rs
  cli/fmt_errors.rs
  cli/main.rs
Labels: cli, feat

#6155 fix(std/http): Prevent crash on UnexpectedEof and InvalidData
  std/http/server.ts
  std/http/server_test.ts
Labels: std

#6103 Adjusting the HTTPS_PROXY flag text
  cli/flags.rs
Labels: cli

#5886 fix(cli/web/fetch): multipart/form-data request body support for binary files
  cli/js/web/fetch.ts
  cli/js/web/fetch/multipart.ts
  cli/tests/unit/fetch_test.ts
Labels: cli, web

#5571 feat: add rid to listener
  cli/js/lib.deno.ns.d.ts
  cli/js/net.ts
  cli/tests/unit/net_test.ts
Labels: cli, public API

#5420 test: fixed initial `[WILDCARD]` not matching empty the on first line
  cli/tests/003_relative_import.ts.out
  cli/tests/integration_tests.rs
Labels: cli

#5540 feat(std/node) - Add util.promisify
  std/node/_util/_util_promisify.ts
  std/node/_util/_util_promisify_test.ts
  std/node/util.ts
Labels: std

#5173 feat(std/encoding/binary): add varnumBytes(), varbigBytes()
  std/encoding/binary.ts
  std/encoding/binary_test.ts
Labels: std

#4836 fix(cli/js/process): Strengthen socket types based on pipes
  cli/js/lib.deno.ns.d.ts
  cli/js/process.ts
  cli/tests/unit/process_test.ts
  std/examples/chat/server_test.ts
  std/examples/tests/catj_test.ts
  std/examples/tests/echo_server_test.ts
  std/http/file_server_test.ts
  std/http/racing_server_test.ts
  std/http/server_test.ts
Labels: cli

#5266 BREAKING: fix(Worker): Disable relative module specifiers
  cli/js/lib.deno.shared_globals.d.ts
  cli/ops/worker_host.rs
  cli/tests/subdir/nested_worker.js
  cli/tests/workers_round_robin_bench.ts
  cli/tests/workers_startup_bench.ts
  cli/tests/workers_test.ts
  docs/runtime/workers.md
Labels: cli

#5859 feat(cli): Add function to delete an environment variable
  cli/js/lib.deno.ns.d.ts
  cli/js/ops/os.ts
  cli/ops/os.rs
  cli/tests/unit/os_test.ts
Labels: cli, feat, public API

#5583 fix: Fix emitter.removeAllListeners accidentally clear all listeners
  std/node/events.ts
  std/node/events_test.ts
Labels: std

#6126 Fix read sync on stdin
  cli/ops/io.rs
  cli/tests/unit/stdio_test.ts
  cli/tests/unit/unit_tests.ts
Labels: bug, cli

#5990 URL support for Deno filesystem methods
  cli/js/files.ts
  cli/js/lib.deno.ns.d.ts
  cli/js/ops/fs/chmod.ts
  cli/js/ops/fs/chown.ts
  cli/js/ops/fs/copy_file.ts
  cli/js/ops/fs/open.ts
  cli/js/ops/fs/read_dir.ts
  cli/js/ops/fs/remove.ts
  cli/js/ops/fs/stat.ts
  cli/js/read_file.ts
  cli/js/read_text_file.ts
  cli/js/util.ts
  cli/js/write_file.ts
  cli/js/write_text_file.ts
  cli/tests/unit/chmod_test.ts
  cli/tests/unit/chown_test.ts
  cli/tests/unit/copy_file_test.ts
  cli/tests/unit/files_test.ts
  cli/tests/unit/path_from_url_test.ts
  cli/tests/unit/read_dir_test.ts
  cli/tests/unit/read_file_test.ts
  cli/tests/unit/read_text_file_test.ts
  cli/tests/unit/remove_test.ts
  cli/tests/unit/stat_test.ts
  cli/tests/unit/test_util.ts
  cli/tests/unit/unit_tests.ts
  cli/tests/unit/write_file_test.ts
  cli/tests/unit/write_text_file_test.ts
Labels: cli, feat, public API

#5714 added osType() function
  cli/doc/ts_type.rs
  cli/js/deno.ts
  cli/js/lib.deno.unstable.d.ts
  cli/js/ops/os.ts
  cli/ops/os.rs
  cli/tests/unit/os_test.ts
  std/node/os.ts
  std/node/os_test.ts
Labels: cli, feat, public API

#6249 Fix broken truncate permission tests
  cli/tests/unit/truncate_test.ts
Labels: cli

#5192 feature: inline and deferred statement resolution logging
  std/log/README.md
  std/log/logger.ts
  std/log/logger_test.ts
  std/log/mod.ts
  std/log/mod_test.ts
Labels: std

#5793 feat(cli/js/testing): Add TestDefinition::only
  cli/js/lib.deno.ns.d.ts
  cli/js/testing.ts
  cli/tests/deno_test_only.ts
  cli/tests/deno_test_only.ts.out
  cli/tests/integration_tests.rs
  cli/tests/unit/test_util.ts
  cli/tests/unit/unit_test_runner.ts
Labels: cli, feat, public API

#6292 feat(std/hash): reimplement all hashes in WASM
  .prettierignore
  Cargo.toml
  cli/tests/hash.ts
  std/hash/README.md
  std/hash/_wasm/Cargo.lock
  std/hash/_wasm/Cargo.toml
  std/hash/_wasm/README.md
  std/hash/_wasm/build.ts
  std/hash/_wasm/hash.ts
  std/hash/_wasm/src/lib.rs
  std/hash/_wasm/wasm.js
  std/hash/hash_test.ts
  std/hash/hasher.ts
  std/hash/mod.ts
  tools/hash_benchmark.py
Labels: std

#6313 Feat testing filter info
  docs/testing.md
Labels: docs

#6317 chore: remove glob dependency
  Cargo.lock
  cli/Cargo.toml
Labels: build

#6304 refactor(compiler): split code paths for compile and bundle
  cli/file_fetcher.rs
  cli/global_state.rs
  cli/js/compiler.ts
  cli/main.rs
  cli/module_graph.rs
  cli/msg.rs
  cli/ops/runtime_compiler.rs
  cli/swc_util.rs
  cli/tests/error_004_missing_module.ts.out
  cli/tests/error_006_import_ext_failure.ts.out
  cli/tests/error_016_dynamic_import_permissions2.out
  cli/tsc.rs
  cli/web_worker.rs
Labels: cli

#6243 feat(cli): allow file streams to be truncated
  cli/js/deno_unstable.ts
  cli/js/lib.deno.unstable.d.ts
  cli/js/ops/fs/truncate.ts
  cli/ops/fs.rs
  cli/tests/unit/truncate_test.ts
Labels: cli, feat, public API

#6441 feat(std/wasi) add wasi_snapshot_preview1
  .github/workflows/ci.yml
  .gitignore
  std/wasi/README.md
  std/wasi/snapshot_preview1.ts
  std/wasi/snapshot_preview1_test.ts
  std/wasi/testdata/std_env_args.rs
  std/wasi/testdata/std_env_vars.rs
  std/wasi/testdata/std_io_stderr.rs
  std/wasi/testdata/std_io_stdin.rs
  std/wasi/testdata/std_io_stdout.rs
  std/wasi/testdata/std_process_exit.rs
Labels: std

#6453 Added ipv6 parsing for --allow-net cli parameters
  cli/flags.rs
  cli/main.rs
  cli/resolve_hosts.rs
  cli/tests/complex_permissions_test.ts
Labels: cli

#6457 fix(cli/js/web/console): Improve string quoting behaviour
  cli/js/web/console.ts
  cli/tests/unit/console_test.ts
Labels: web

#6428 Incremental compilation for TypeScript
  cli/global_state.rs
  cli/js/compiler.ts
  cli/module_graph.rs
  cli/tests/054_info_local_imports.out
  cli/tests/integration_tests.rs
  cli/tests/single_compile_with_reload.ts
  cli/tests/single_compile_with_reload.ts.out
  cli/tests/single_compile_with_reload_dyn.ts
  cli/tsc.rs
Labels: cli, perf

#6455 fix(std/node/process): env, argv exports
  std/node/process.ts
  std/node/process_test.ts
Labels: std

#6269 fix(std/io): Make BufWriter/BufWriterSync.flush write all chunks
  std/io/bufio.ts
  std/io/bufio_test.ts
Labels: std

#6405 fix: panic when process stdio rid is 0 or invalid
  cli/ops/process.rs
  cli/tests/unit/process_test.ts
Labels: bug, cli

#6412 fix(cli) implicit conversion from path to url
  cli/js/util.ts
  cli/tests/unit/path_from_url_test.ts
Labels: bug, cli

#6418 fix(cli/js/web/url): Support UNC paths on Windows
  cli/js/web/url.ts
  cli/tests/unit/url_test.ts
  std/path/from_file_url_test.ts
Labels: bug, web

#6403 feat(unstable): add Deno.fdatasyncSync and fdatasync
  cli/js/deno_unstable.ts
  cli/js/lib.deno.unstable.d.ts
  cli/js/ops/fs/sync.ts
  cli/ops/fs.rs
  cli/tests/unit/sync_test.ts
Labels: cli, feat, public API

#4857 add is leap and difference functions [std/datetime]
  std/datetime/mod.ts
  std/datetime/test.ts
Labels: std

#6275 fix(cli/js/process): Fix conditional types for process sockets
  cli/js/lib.deno.ns.d.ts
  cli/js/process.ts
Labels: cli, public API

#6285 Catch errors on file_server response.send. Fixes #5624
  std/http/file_server.ts
Labels: std

#5648 Update import_maps.md to include more examples
  docs/linking_to_external_code/import_maps.md
Labels: docs

#5789 feat(std/io): add toReader & toWriter
  std/io/streams.ts
  std/io/streams_test.ts
Labels: std

#5263 Support ipv6 parsing
  std/http/server.ts
  std/http/server_test.ts
Labels: std
