Repository denoland/deno, pull requests merged in 2020-08, with the labels that each got.

#6673 feat: FileReader API
  cli/build.rs
  cli/dts/lib.deno.shared_globals.d.ts
  cli/rt/21_filereader.js
  cli/rt/99_main.js
  cli/tests/unit/filereader_test.ts
  cli/tests/unit/progressevent_test.ts
  cli/tests/unit/unit_tests.ts
  op_crates/web/08_text_encoding.js
Labels: cli, feat, web

#6619 feat(std/datetime): generalise parser, add formatter
  std/datetime/README.md
  std/datetime/formatter.ts
  std/datetime/mod.ts
  std/datetime/test.ts
  std/datetime/tokenizer.ts
Labels: std

#7086 Blob.arrayBuffer returns uint8array
  cli/rt/20_blob.js
  cli/tests/unit/blob_test.ts
Labels: bug, cli, web
