Repository denoland/deno, pull requests merged in 2020-09, with the labels that each got.

#7314 fix(URLSearchParams): fix handling of + character
  cli/rt/11_url.js
  cli/tests/unit/url_search_params_test.ts
Labels: web

#7303 chore: multi line deno_lint diagnostics
  Cargo.lock
  cli/Cargo.toml
  cli/lint.rs
  cli/tests/lint/expected_from_stdin_json.out
  cli/tests/lint/expected_json.out
Labels: cli

#5276 feat: bundle installed script
  cli/installer.rs
  cli/main.rs
Labels: cli, feat

#7051 Implement WebSocket API
  cli/Cargo.toml
  cli/dts/lib.deno.shared_globals.d.ts
  cli/ops/mod.rs
  cli/ops/websocket.rs
  cli/rt/11_workers.js
  cli/rt/27_websocket.js
  cli/rt/99_main.js
  cli/tests/integration_tests.rs
  cli/tests/websocket_test.ts
  cli/web_worker.rs
  cli/worker.rs
  op_crates/web/01_event.js
  test_util/src/lib.rs
Labels: cli, feat, web

#6786 feat(info): Dependency count and sizes
  cli/global_state.rs
  cli/info.rs
  cli/main.rs
  cli/module_graph.rs
  cli/tests/022_info_flag_script.out
  cli/tests/031_info_no_check.out
  cli/tests/049_info_flag_script_jsx.out
  cli/tests/054_info_local_imports.out
  cli/tests/055_info_file_json.out
  cli/tests/cafile_info.ts.out
  cli/tests/info_recursive_imports_test.out
  cli/tests/info_recursive_imports_test.ts
  cli/tests/info_type_import.out
  cli/tests/integration_tests.rs
  cli/tests/recursive_imports/A.ts
  cli/tests/recursive_imports/B.ts
  cli/tests/recursive_imports/C.ts
  cli/tests/recursive_imports/common.ts
  cli/tsc.rs
  core/lib.rs
  core/modules.rs
  docs/tools/dependency_inspector.md
Labels: cli, feat

#7139 feat(console): print proxy details
  cli/dts/lib.deno.ns.d.ts
  cli/rt/02_console.js
  cli/tests/unit/console_test.ts
  core/bindings.rs
Labels: web

#6178 feat(op_crates/web): Add all single byte encodings to TextDecoder
  op_crates/web/08_text_encoding.js
  op_crates/web/text_encoding_test.js
Labels: cli, web

#5157 feat(unstable): Support data: urls
  Cargo.lock
  cli/Cargo.toml
  cli/disk_cache.rs
  cli/file_fetcher.rs
  cli/global_state.rs
  cli/info.rs
  cli/main.rs
  cli/module_graph.rs
  cli/state.rs
  cli/tests/data_import_invalid.js
  cli/tests/data_import_invalid.out
  cli/tests/data_import_origin_upgrade.js
  cli/tests/data_import_origin_upgrade.out
  cli/tests/data_import_test.js
  cli/tests/data_import_test.out
  cli/tests/integration_tests.rs
  cli/tests/unsupported_dynamic_import_scheme.out
  cli/tsc.rs
Labels: cli, feat

#6901 feat(unstable): deno test --coverage
  cli/coverage.rs
  cli/flags.rs
  cli/main.rs
  cli/tests/integration_tests.rs
  cli/tests/test_coverage.out
  cli/tests/test_coverage.ts
Labels: cli, feat
