Repository denoland/deno, pull requests merged in 2020-10, with the labels that each got.

#7974 feat(cli/ops): add the sleep_sync op
  cli/dts/lib.deno.unstable.d.ts
  cli/ops/timers.rs
  cli/rt/11_timers.js
  cli/rt/90_deno_ns.js
  cli/tests/unit/timers_test.ts
Labels: cli, feat, public API

#8030 fix(op_crates/fetch): Body.body should be stream of Uint8Array
  cli/tests/unit/fetch_test.ts
  op_crates/fetch/26_fetch.js
Labels: bug, op_crate/fetch

#8149 fix(prompt): prompt works with windows eol and eof (#8146)
  cli/rt/41_prompt.js
  cli/tests/066_prompt.ts
  cli/tests/066_prompt.ts.out
  cli/tests/integration_tests.rs
Labels: bug, cli, high priority
