Repository denoland/deno, pull requests merged in 2020-07, with the labels that each got.

#6569 refactor: lock file
  cli/flags.rs
  cli/global_state.rs
  cli/lockfile.rs
  cli/main.rs
  cli/tests/integration_tests.rs
  cli/tests/lock_check_err.json
  cli/tests/lock_dynamic_imports.json
  cli/tests/lock_dynamic_imports.out
  cli/tests/lock_write_requires_lock.out
Labels: cli

#6413 improve(std/asserts): allow assert function to specify type parameter
  std/node/_util/_util_callbackify_test.ts
  std/node/_util/_util_promisify.ts
  std/node/_util/_util_promisify_test.ts
  std/testing/asserts.ts
  std/testing/asserts_test.ts
Labels: std

#4612 chown: make uid, gid optional
  cli/js/lib.deno.ns.d.ts
  cli/js/ops/fs/chown.ts
  cli/ops/fs.rs
  cli/tests/unit/chown_test.ts
Labels: cli, public API

#6352 Implement output flag for upgrade
  cli/flags.rs
  cli/main.rs
  cli/tests/integration_tests.rs
  cli/upgrade.rs
Labels: cli, feat

#6343 Feature: Add support for REGEX for test subcommand's filter flag
  cli/flags.rs
  cli/js/testing.ts
  cli/tests/unit/filter_function_test.ts
  cli/tests/unit/unit_tests.ts
  docs/testing.md
Labels: cli, feat

#6280 feat(cli): Add WriteFileOptions to writeTextFile & writeTextFileSync
  cli/js/lib.deno.ns.d.ts
  cli/js/write_text_file.ts
  cli/tests/unit/write_text_file_test.ts
Labels: cli, public API

#6539 feat(unstable): Deno.ppid
  cli/Cargo.toml
  cli/js/lib.deno.unstable.d.ts
  cli/js/ops/runtime.ts
  cli/js/runtime_main.ts
  cli/ops/runtime.rs
  cli/tests/unit/os_test.ts
Labels: cli, feat, public API

#6372 feat(cli): json option for "deno info"
  cli/flags.rs
  cli/main.rs
  cli/tests/055_info_file_json.out
  cli/tests/info_json.out
  cli/tests/integration_tests.rs
  core/lib.rs
  core/modules.rs
Labels: cli, feat

#6048 Remove control slice from ops
  Cargo.lock
  cli/js/globals.ts
  cli/ops/dispatch_json.rs
  cli/ops/dispatch_minimal.rs
  cli/ops/plugin.rs
  cli/state.rs
  core/Cargo.toml
  core/bindings.rs
  core/core_isolate.rs
  core/es_isolate.rs
  core/examples/http_bench.rs
  core/ops.rs
  core/plugin_api.rs
  core/zero_copy_buf.rs
  deno_typescript/lib.rs
  test_plugin/src/lib.rs
  test_plugin/tests/integration_tests.rs
  test_plugin/tests/test.js
Labels: cli, core, perf

#6244 feat: move unstable Deno.permissions to navigator.permissions
  cli/js/deno_unstable.ts
  cli/js/globals.ts
  cli/js/lib.deno.ns.d.ts
  cli/js/lib.deno.shared_globals.d.ts
  cli/js/lib.deno.unstable.d.ts
  cli/js/ops/permissions.ts
  cli/js/permissions.ts
  cli/js/web/navigator.ts
  cli/js/web/permissions.ts
  cli/tests/025_hrtime.ts
  cli/tests/057_revoke_permissions.ts
  cli/tests/unit/permissions_test.ts
  cli/tests/unit/test_util.ts
  cli/tests/unit/unit_test_runner.ts
  std/permissions/mod.ts
Labels: cli, public API

#6528 fix(cli): panic when stdio is null on windows (fix #6409)
  cli/ops/io.rs
  cli/ops/worker_host.rs
  cli/tests/DenoWinRunner.cs
  cli/tests/DenoWinRunner.ps1
  cli/tests/integration_tests.rs
  cli/worker.rs
  test_util/src/lib.rs
Labels: bug, cli

#6520 Implement stdout columns and rows
  cli/js/deno_unstable.ts
  cli/js/lib.deno.unstable.d.ts
  cli/js/ops/tty.ts
  cli/ops/tty.rs
  cli/tests/unit/tty_test.ts
Labels: cli, feat, public API

#6421 feat: add performance user timing APIs
  cli/js/globals.ts
  cli/js/lib.deno.ns.d.ts
  cli/js/lib.deno.shared_globals.d.ts
  cli/js/web/performance.ts
  cli/js/web/streams/internals.ts
  cli/js/web/streams/queuing_strategy.ts
  cli/js/web/streams/readable_byte_stream_controller.ts
  cli/js/web/streams/readable_stream.ts
  cli/js/web/streams/readable_stream_default_controller.ts
  cli/js/web/streams/readable_stream_default_reader.ts
  cli/js/web/streams/transform_stream.ts
  cli/js/web/streams/transform_stream_default_controller.ts
  cli/js/web/streams/writable_stream.ts
  cli/js/web/streams/writable_stream_default_controller.ts
  cli/js/web/streams/writable_stream_default_writer.ts
  cli/js/web/util.ts
  cli/tests/unit/performance_test.ts
Labels: cli, feat, web

#6591 feat(Deno.inspect): Add sorted, trailingComma, compact and iterableLimit to InspectOptions
  cli/js/lib.deno.ns.d.ts
  cli/js/repl.ts
  cli/js/testing.ts
  cli/js/web/console.ts
  cli/tests/unit/console_test.ts
  cli/tests/unit/headers_test.ts
  cli/tests/unit/internals_test.ts
  std/README.md
  std/testing/asserts.ts
  std/testing/asserts_test.ts
Labels: cli, feat

#6594 Improve doc module
  cli/colors.rs
  cli/doc/class.rs
  cli/doc/display.rs
  cli/doc/function.rs
  cli/doc/interface.rs
  cli/doc/mod.rs
  cli/doc/module.rs
  cli/doc/node.rs
  cli/doc/params.rs
  cli/doc/parser.rs
  cli/doc/printer.rs
  cli/doc/tests.rs
  cli/doc/ts_type.rs
  cli/doc/ts_type_param.rs
  cli/flags.rs
  cli/main.rs
Labels: cli

#6204 feat(install): add --config flag
  cli/flags.rs
  cli/installer.rs
Labels: cli, feat

#6370 feat(cli): add DENO_CERT environment variable
  cli/flags.rs
  cli/global_state.rs
  cli/tests/integration_tests.rs
Labels: cli, feat

#6741 refactor:(std/datetime) weekOfYear: Use constants, improve readability
  std/datetime/README.md
  std/datetime/mod.ts
  std/datetime/test.ts
Labels: std

#6711 feat(std/encoding): add ascii85 module
  std/encoding/README.md
  std/encoding/ascii85.ts
  std/encoding/ascii85_test.ts
Labels: std

#6638 Add node/string_decoder and some more
  std/node/buffer.ts
  std/node/events.ts
  std/node/module.ts
  std/node/string_decoder.ts
  std/node/string_decoder_test.ts
Labels: std

#6623 Bug Deno Assert Throw Parent Error
  std/testing/asserts.ts
  std/testing/asserts_test.ts
Labels: std

#6693 fix(cli): Windows: set exe file icon and PE metadata
  Cargo.lock
  cli/Cargo.toml
  cli/build.rs
  cli/deno.ico
Labels: build, cli, windows
