Repository denoland/deno, pull requests merged in 2023-03, with the labels that each got.

#18210 feat(core) deno_core::extension! macro to simplify extension registration
  bench_util/benches/op_baseline.rs
  cli/build.rs
  cli/lsp/testing/execution.rs
  cli/lsp/tsc.rs
  cli/ops/bench.rs
  cli/ops/mod.rs
  cli/ops/testing.rs
  cli/tools/bench.rs
  cli/tools/test.rs
  cli/tsc/mod.rs
  core/extensions.rs
  core/modules.rs
  core/ops_builtin.rs
  core/ops_builtin_v8.rs
  core/runtime.rs
  ext/broadcast_channel/lib.rs
  ext/cache/lib.rs
  ext/console/lib.rs
  ext/crypto/lib.rs
  ext/fetch/lib.rs
  ext/ffi/lib.rs
  ext/flash/lib.rs
  ext/fs/lib.rs
  ext/http/lib.rs
  ext/io/lib.rs
  ext/napi/lib.rs
  ext/net/lib.rs
  ext/net/ops.rs
  ext/net/ops_tls.rs
  ext/node/lib.rs
  ext/tls/lib.rs
  ext/url/benches/url_ops.rs
  ext/url/lib.rs
  ext/web/benches/encoding.rs
  ext/web/benches/timers_ops.rs
  ext/web/lib.rs
  ext/webidl/benches/dict.rs
  ext/webidl/lib.rs
  ext/websocket/lib.rs
  ext/webstorage/lib.rs
  runtime/build.rs
  runtime/ops/fs_events.rs
  runtime/ops/http.rs
  runtime/ops/os/mod.rs
  runtime/ops/permissions.rs
  runtime/ops/process.rs
  runtime/ops/runtime.rs
  runtime/ops/signal.rs
  runtime/ops/tty.rs
  runtime/ops/web_worker.rs
  runtime/ops/worker_host.rs
  runtime/web_worker.rs
  runtime/worker.rs
Labels: proposal

#18272 Reland "perf(core): preserve ops between snapshots (#18080)"
  bench_util/benches/op_baseline.rs
  cli/build.rs
  cli/lsp/tsc.rs
  cli/ops/bench.rs
  cli/ops/mod.rs
  cli/ops/testing.rs
  cli/tsc/mod.rs
  core/bindings.rs
  core/extensions.rs
  core/ops.rs
  core/runtime.rs
  core/snapshot_util.rs
  ext/node/polyfills/internal/readline/utils.mjs
  ops/lib.rs
  ops/optimizer_tests/async_nop.out
  ops/optimizer_tests/async_result.out
  ops/optimizer_tests/callback_options.out
  ops/optimizer_tests/cow_str.out
  ops/optimizer_tests/f64_slice.out
  ops/optimizer_tests/incompatible_1.out
  ops/optimizer_tests/issue16934.out
  ops/optimizer_tests/issue16934_fast.out
  ops/optimizer_tests/op_blob_revoke_object_url.out
  ops/optimizer_tests/op_ffi_ptr_value.out
  ops/optimizer_tests/op_print.out
  ops/optimizer_tests/op_state.out
  ops/optimizer_tests/op_state_basic1.out
  ops/optimizer_tests/op_state_generics.out
  ops/optimizer_tests/op_state_result.out
  ops/optimizer_tests/op_state_warning.out
  ops/optimizer_tests/op_state_with_transforms.out
  ops/optimizer_tests/opstate_with_arity.out
  ops/optimizer_tests/option_arg.out
  ops/optimizer_tests/owned_string.out
  ops/optimizer_tests/param_mut_binding_warning.out
  ops/optimizer_tests/raw_ptr.out
  ops/optimizer_tests/serde_v8_value.out
  ops/optimizer_tests/strings.out
  ops/optimizer_tests/strings_result.out
  ops/optimizer_tests/u64_result.out
  ops/optimizer_tests/uint8array.out
  ops/optimizer_tests/unit_result.out
  ops/optimizer_tests/unit_result2.out
  ops/optimizer_tests/unit_ret.out
  ops/optimizer_tests/wasm_op.out
  runtime/ops/fs_events.rs
  runtime/ops/http.rs
  runtime/ops/os/mod.rs
  runtime/ops/permissions.rs
  runtime/ops/process.rs
  runtime/ops/runtime.rs
  runtime/ops/signal.rs
  runtime/ops/tty.rs
  runtime/ops/web_worker.rs
  runtime/ops/worker_host.rs
Labels: ci-bench

#18365 fix(ext/kv): reverse mapping between `AnyValue::Bool` and `KeyPart::Bool`
  cli/tests/unit/kv_test.ts
  ext/kv/codec.rs
  ext/kv/lib.rs
Labels: ci-test-flaky
